body {
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
}

/*Общий цвет ссылок*/
a {
    text-decoration: none;
}
/*Центровщик*/
.container {
    width: 960px;
    margin: 0 auto;
}

.main-header {
    background-color: #f1f5f7;
}

/*Верхняя секция шапки*/
.main-header
.top-container {
    background-color: #293449;
    color: #ffffff;
}

.top-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-container 
.logo-and-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*Поведение логотипа*/
.logo-background {
    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 #b52933;
    width: 220px;
    height: 47px;
}

/*Правило для картинки логотипа*/
.logo-background img {
    display: block;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 11px;
}

/*Наведение на логотип*/
.logo-background:hover {
    background-color: #ca2c37;
}

/*Клик по логотипу*/
.logo-background:active {
    background-color: #ba2732;
}

/*Цвет иконок в шапке*/
.icon {
    fill: #6a7180;
}

/*Меню пользователя*/
.user-menu-list {
    list-style: none;
    margin: 0;
    color: #ffffff;
    font-size: 17px;
    display: flex;
    align-items: stretch;
}

.user-menu-item {
    width: 150px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

/*Цвет ссылок в меню пользователя*/
.user-menu a {
    color: #ffffff;
}

/*Кнопки "Закладки" и "Корзина"*/
.user-menu 
.user-menu-item:hover:not(.order) {
    background-color: #212a3a;
}
/*Изменение цвета иконки при наведении на элемент списка*/
.user-menu 
.user-menu-item:hover svg {
    fill: #ffffff;
}
/*Поведение кнопок "Закладки" и "Корзина" при клике*/
.user-menu 
.user-menu-item:active:not(.order) {
    background-color: #161d29;
    opacity: 0.5;
}

/*Кнопка "Оформить заказ"*/
.user-menu .order {
    background-color: #63a63e;
}
/*Поведние кнопки "Оформить заказ" при наведении*/
.user-menu .order:hover {
    background-color: #5fbb2d;
}
/*Поведние кнопки "Оформить заказ" при клике*/
.user-menu .order:active {
    background-color: #518534;
    opacity: 0.5;
}

/*Секция середины шапки*/
.middle-container {
    background-color: #f1f5f7;
}

/*Главный заголовок*/
.main-title {
    font-size: 16px;
    font-style: italic;
    color: #ee3643;
    width: 200px;
    font-weight: normal;
}

.middle-container .container {
    display: flex;
    justify-content: space-around;
    margin-top: 46px;
    margin-bottom: 40px;
}

.address-and-phone {
    display: flex;
    flex-direction: column;
    align-items: center
}

/*Блок с номером телефона*/
.address-and-phone .phone {
    width: 270px;
    height: 39px;
    border: 3px solid #ffffff;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}
/*Цвет номера телефона*/
.address-and-phone .number {
    color: #e9292a;
    font-size: 21px;
}
/*Цвет и размер шрифта адреса*/
.address-and-phone .address {
    font-size: 14px;
    color: #32425c;
}

/*Правило для списка навигации пользователя*/
.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 21px;  
    display: flex;
    justify-content: space-between;
}
/*Элементы списка*/
.user-navigation 
.user-navigation-item {
    
    background-color: #ffffff;
    color: #000000; 
    text-align: center;
    padding-top:12px;
    padding-bottom: 12px; 
}
/*Цвет ссылок*/
.user-navigation 
.user-navigation-item a {
    color: #000000; 
}
/*Цвет ссылок при наведении*/
.user-navigation 
.user-navigation-item a:hover {
    color: #ee3643; 
}
/*Цвет ссылок при клике*/
.user-navigation 
.user-navigation-item a:active {
    color: #b2b2b2; 
}
/*Цвет значка при наведении*/
.user-navigation 
.user-navigation-item:hover svg .fill-login {
    fill: #32425c; 
}
/*Цвет значка при клике*/
.user-navigation 
.user-navigation-item:active svg .fill-login {
    fill: #c5c5c5; 
}


/*Навигация шапки*/

.main-navigation {
    padding-bottom: 60px;
}
/*Правило для списка навигации шапки*/
.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #31415b;

    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.main-navigation li {
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    text-align: center;
    flex-grow: 1;
}

/*Цвет элемента списка при наведении*/
.main-navigation li:hover {
    background-color: #293449;
}
/*Цвет элемента списка при клике*/
.main-navigation li:active {
    background-color: #1d2639;
}
/*Цвет ссылок*/
.main-navigation a {
    color: #ffffff;
    font-size: 17px;
}
/*Цвет ссылок при клике*/
.main-navigation li:active a {
    opacity: 0.5;
}

/*Блок "О компании"*/

/*Правило для заголовков 2-ого уровня*/
.title {
    font-size: 30px;
    text-transform: uppercase;
}
/*Размер текста рассказывающий о компании*/
.text-13px {
    font-size: 13px;
    line-height: 24px;
}
/*Размер шрифта элементов списка*/
.delivery-item {
    font-size: 18px;
}


/*Подвал*/
.main-footer {
    background-color: #31415b;
}
/*Правило для списка навигации подвала*/
.main-footer-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
/*Цвет ссылок*/
.main-footer-navigation a {
    color: #ffffff;
}
/*Цвет ссылок при наведении*/
.main-footer-navigation a:hover {
    text-decoration: underline;
}
/*Цвет ссылок при клике*/
.main-footer-navigation a:active {
    opacity: 0.5;
    text-decoration: none;
}

/*Адрес и номер*/
.main-footer .address-2 {
    color: #ffffff;
    font-size: 18px;
}

/*Правило для списка навигации подвала №2*/
.other-footer-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
/*Цвет ссылок*/
.other-footer-navigation a {
    color: #ffd180;
}
/*Цвет ссылок при наведении*/
.other-footer-navigation a:hover {
    text-decoration: underline;
}
/*Цвет ссылок при клике*/
.other-footer-navigation a:active {
    text-decoration: none;
    opacity: 0.5;
}

/*Блок с информацией в подвале*/
.footer-information {
    background-color: #293449;
}
/*Весь белый текст в подвале*/
.footer-text{
    color: #ffffff;
}
/*Список ссылок на социальные сети*/
.footer-social ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
/*Элементы списка социальных сетей*/
.footer-social li {
    background-color: #212939;
    width: 41px;
    height: 41px;
    border-radius: 20px;
}
/*Элементы списка социальных сетей*/
.footer-social li:hover {
    background-color: #ed3543;
}

/*Поведение ссылок с обратной связью*/
.footer-information .link {
    color: #ffd180;
}
.footer-information .link:hover {
    text-decoration: underline;
}
.footer-information .link:active {
    text-decoration: none;
    color: #e13643;
}


/*Поведение ссылок, которые ведут на другие ресурсы на всём сайте*/
.button {
    background-color: #ed3543;
    color: #ffffff;
}
.button:hover {
    background-color: #ca2b36;
}
.button:active {
    background-color: #ba2731;
}

/*Невидимость заголовков*/
.invisible {
    display: none;
}

/*Попапы*/
.popup-feedback {
    display: none;
}
.popup-map {
    display: none;
}
.add-cart {
    display: none;
}


/*Страница каталога*/
/*Поведение элемента, когда что-то есть в корзине*/
.item-in-cart {
    background-color: #ed3543;
}
/*Блок личного кабинета*/
.inner-page .user {
    width: 299px;
    height: 45px;
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
}
.user svg {
    fill: #c5c5c5;
}
/*Заглушка для того, чтобы сработало поведение иконок*/
.inner-page .user:hover{
    color: #000000;
}
/*Изменение при наведении*/
.inner-page 
.icon-and-user:hover svg{
    fill: #32425c;
}

.icon-logout:hover svg {
    fill: #32425c;
}
/*Изменение при клике*/
.inner-page .icon-and-user:active{
    color: #000000;
    opacity: 0.3;
}
.inner-page .icon-logout:active{
    opacity: 0.3;
}
/*Список элементов пользователя*/
.inner-page .personal-area {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*Позиционирование элементов списка*/
.inner-page .personal-area li {
    display: inline;
}
/*Цвет ссылки элемента*/
.inner-page .personal-area a{
    text-decoration: underline;
    color: #32425c;
    font-size: 16px;
}
/*Цвет ссылки при наведении*/
.inner-page .personal-area a:hover{
    color: #ee3643;
}
/*Цвет ссылки при клике*/
.inner-page .personal-area a:active{
    color: #32425c;
    opacity: 0.3;
}
/*Хлебные крошки*/
.breadcrumbs {
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    padding: 0;
}
/*Позиционирование "хлебных крошек"*/
.breadcrumbs li {
    display: inline;
}
/*Цвет ссылок*/
.breadcrumbs a {
    color: #000000;
}

/*Стили заголовка*/
.inner-page .title {
    text-transform: uppercase;
    color: #32425c;
    background-color: #f1f5f7;
}
/*Кнопка "Показать" в фильтре*/
.filter-button {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-size: 13px;
}

.catalog ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}
/*Размер шрифта цены*/
.catalog .price-button {
    font-size: 18px;
}

.catalog-button-list a.button-cart {
    background-color: #63a53d;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: inset 0 -3px 0 0 #367314; 
    font-size: 14px;
}
.catalog-button-list a.button-cart:hover {
    background-color: #5fbb2d;
}
.catalog-button-list a.button-cart:active {
    background-color: #367314;
}
.catalog-button-list a.button-cart:hover svg {
    opacity: 1;
}
.catalog-button-list a.button-cart svg {
    opacity: 0.3;
}

.catalog-button-list a.button-bookmark {
    background-color: #ffffff;
    color: #32425c;
    text-transform: uppercase;
    border: 3px solid #63a53d;
    font-size: 14px; 
}
.catalog-button-list a.button-bookmark:hover {
    border: 3px solid #31415b; 
}

.catalog-button-list a.button-bookmark:active {
    opacity: 0.3;
}

.inner-page .text-price {
    color: #999999;
    font-size: 17px;
}