body {
    font-family: 'Cuprum', 'Arial', 'Helvetica', sans-serif;
    font-size: 16px;
}

/*Общий цвет ссылок*/
a {
    text-decoration: none;
}
/*Центровщик*/
.container {
    width: 960px;
    margin: 0 auto;
}

.main-header {
    background-color: #f1f5f7;
}

/*Верхняя секция шапки*/
.main-header
.top-container {
    background-color: #293449;
    color: #ffffff;
}

.top-container .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-container 
.logo-and-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*Поведение логотипа*/
.logo-background {
    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 0 #b52933;
    width: 220px;
    height: 47px;
}

/*Правило для картинки логотипа*/
.logo-background img {
    display: block;
    margin: 0 auto;
    padding-top: 13px;
    padding-bottom: 11px;
}

/*Наведение на логотип*/
.logo-background:hover {
    background-color: #ca2c37;
}

/*Клик по логотипу*/
.logo-background:active {
    background-color: #ba2732;
}

/*Цвет иконок в шапке*/
.icon {
    fill: #6a7180;
}
.bookmark, .cart {
    margin-right: 13px;
}

/*Меню пользователя*/
.user-menu-list {
    list-style: none;
    margin: 0;
    color: #ffffff;
    font-size: 17px;
    display: flex;
    align-items: stretch;
}

.user-menu-item {
    width: 150px;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

/*Цвет ссылок в меню пользователя*/
.user-menu a {
    color: #ffffff;
}

/*Кнопки "Закладки" и "Корзина"*/
.user-menu 
.user-menu-item:hover:not(.order) {
    background-color: #212a3a;
}
/*Изменение цвета иконки при наведении на элемент списка*/ 
.user-menu-item:hover svg {
    fill: #ffffff;
}
/*Поведение кнопок "Закладки" и "Корзина" при клике*/
.user-menu 
.user-menu-item:active:not(.order) {
    background-color: #161d29;
    opacity: 0.5;
}

/*Кнопка "Оформить заказ"*/
.user-menu .order {
    background-color: #63a63e;
}
/*Поведние кнопки "Оформить заказ" при наведении*/
.user-menu .order:hover {
    background-color: #5fbb2d;
}
/*Поведние кнопки "Оформить заказ" при клике*/
.user-menu .order:active {
    background-color: #518534;
    opacity: 0.5;
}

/*Секция середины шапки*/
.middle-container {
    background-color: #f1f5f7;
}

/*Главный заголовок*/
.main-title {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
    max-width: 195px;
    max-height: 67px;
    margin: 0;
    padding-left: 50px;
}

.middle-container .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 46px;
    margin-bottom: 40px;
}

.address-and-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Блок с номером телефона*/
.address-and-phone .phone {
    width: 267px;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 3px solid #ffffff;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.phone svg {
    padding-left: 15px;
}

/*Цвет номера телефона*/
.address-and-phone .number {
    color: #e9292a;
    font-size: 21px;
    margin-left: 40px;
}
/*Цвет и размер шрифта адреса*/
.address-and-phone .address {
    font-size: 14px;
    color: #32425c;
}

/*Правило для списка навигации пользователя*/
.user-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 21px;  
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
/*Элементы списка*/ 
.user-navigation-item {
    background-color: #ffffff;
    color: #000000; 
    text-align: center;
    padding: 12px 25px;
    margin-right: 10px;
}
.user-navigation-item:last-child {
    margin-right: 0;
}
/*Цвет ссылок*/ 
.user-navigation-item a {
    color: #000000; 
}
/*Цвет ссылок при наведении*/ 
.user-navigation-item a:hover {
    color: #ee3643; 
}
/*Цвет ссылок при клике*/
.user-navigation-item a:active {
    color: #b2b2b2; 
}
/*Цвет значка при наведении*/
.user-navigation-item:hover .fill-login {
    fill: #32425c; 
}
/*Цвет значка при клике*/
.user-navigation-item:active .fill-login {
    fill: #c5c5c5; 
}
.icon-login {
    margin-right: 14px;
}

/*Навигация шапки*/

.main-navigation {
    padding-bottom: 60px;
}
/*Правило для списка навигации шапки*/
.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #31415b;

    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 -5px 0 0 #293449;
}

.main-navigation li {
    padding-top: 21.5px;
    padding-bottom: 21.5px;
    text-align: center;
    flex-grow: 1;
}

/*Цвет элемента списка при наведении*/
.main-navigation li:hover {
    background-color: #293449;
}
/*Цвет элемента списка при клике*/
.main-navigation li:active {
    background-color: #1d2639;
}
/*Цвет ссылок*/
.main-navigation a {
    color: #ffffff;
    font-size: 17px;
}
/*Цвет ссылок при клике*/
.main-navigation li:active a {
    opacity: 0.5;
}

/*Блок "О компании"*/

/*Правило для заголовков 2-ого уровня*/
.title {
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.about-company {
    display: flex;
}

.about-company .container {
    margin-top: 82px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 86px;
}

.about-company .company {
    padding-right: 120px;
    flex-basis: 680px;
}
.company .button {
    width: 220px;
    
}
.about-company .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Размер текста рассказывающий о компании*/
.text-13px {
    font-size: 13px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.delivery-list {
    line-height: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}
/*Размер шрифта элементов списка*/
.delivery-item {
    font-size: 18px;
    background: url(../img/list-style.png) no-repeat left center;
    padding-left: 40px;
}

.img-map {
    margin-bottom: 40px;
}


/*Подвал*/
.main-footer {
    background-color: #31415b;
    
}

.footer-navigation .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 55px;
}
.logo-and-address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 40px;
    
}
/*Правило для списка навигации подвала*/
.main-footer-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-basis: 570px;
    justify-content: space-between;
    margin-bottom: 25px;
}

.main-navigation-list li {
    padding-right: 60px;
    flex-grow: 1;
    
}
.main-navigation-list li:last-child {
    padding-right: 0;
}
/*Цвет ссылок*/
.main-footer-navigation a {
    color: #ffffff;
}
/*Цвет ссылок при наведении*/
.main-footer-navigation a:hover {
    text-decoration: underline;
}
/*Цвет ссылок при клике*/
.main-footer-navigation a:active {
    opacity: 0.5;
    text-decoration: none;
}

/*Адрес и номер*/
.main-footer .address-2 {
    color: #ffffff;
    font-size: 18px;
}

/*Правило для списка навигации подвала №2*/
.other-footer-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-basis: 570px;
    justify-content: flex-end;
}

.other-navigation-list li {
    padding-right: 60px;
    flex-grow: 1;
}
.other-navigation-list li:last-child {
    padding-right: 0;
}

/*Цвет ссылок*/
.other-footer-navigation a {
    color: #ffd180;
}
/*Цвет ссылок при наведении*/
.other-footer-navigation a:hover {
    text-decoration: underline;
}
/*Цвет ссылок при клике*/
.other-footer-navigation a:active {
    text-decoration: none;
    opacity: 0.5;
}

/*Блок с информацией в подвале*/
.footer-information {
    background-color: #293449;
}
.footer-information .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
/*Весь белый текст в подвале*/
.footer-text{
    color: #ffffff;
}
.copyright {
    width: 35%;
}

.feedback-and-developer {
    display: flex;
    justify-content: space-between;
}

.feedback-and-developer p:first-child {
    padding-right: 45px;
}
/*Список ссылок на социальные сети*/
.footer-social ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}
/*Элементы списка социальных сетей*/
.footer-social li {
    background-color: #212939;
    width: 41px;
    height: 41px;
    border-radius: 20px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-social li:last-child {
    margin-right: 0;
}
/*Элементы списка социальных сетей*/
.footer-social li:hover {
    background-color: #ed3543;
}

/*Поведение ссылок с обратной связью*/
.footer-information .link {
    color: #ffd180;
}
.footer-information .link:hover {
    text-decoration: underline;
}
.footer-information .link:active {
    text-decoration: none;
    color: #e13643;
}


/*Поведение ссылок, которые ведут на другие ресурсы на всём сайте*/
.button {
    background-color: #ed3543;
    color: #ffffff;
    text-align: center;
    padding: 12px 40px;
    border-radius: 2px;
}
.button:hover {
    background-color: #ca2b36;
}
.button:active {
    background-color: #ba2731;
}

/*Невидимость заголовков*/
.invisible {
    display: none;
}

/*Попапы*/
.popup-feedback {
    display: none;
}
.popup-map {
    display: none;
    position: fixed;
    width: 940;
    height: 446px;
    top: 120px;
    left: 25%;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.add-cart {
    display: none;
}

.button-close {
    width: 22px;
    height: 22px;

    position: absolute;
    top: 0;
    right: 0;

    margin-top: 9px;
    margin-right: 9px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    background-image: url(../img/close.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

/*Страница каталога*/
/*Поведение элемента, когда что-то есть в корзине*/
.item-in-cart {
    background-color: #ed3543;
}
/*Блок личного кабинета*/
.inner-page .user-area {
    width: 299px;
    height: 45px;
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.user svg {
    fill: #c5c5c5;
}
.icon-user {
    margin-right: 13px;
}
/*Заглушка для того, чтобы сработало поведение иконок*/
.inner-page .user:hover{
    color: #000000;
}
/*Изменение при наведении*/
.inner-page 
.icon-and-user:hover svg{
    fill: #32425c;
}

.icon-logout:hover svg {
    fill: #32425c;
}
/*Изменение при клике*/
.inner-page .icon-and-user:active{
    color: #000000;
    opacity: 0.3;
}
.inner-page .icon-logout:active{
    opacity: 0.3;
}
/*Список элементов пользователя*/
.inner-page .personal-area {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}


/*Цвет ссылки элемента*/
.inner-page .personal-area a{
    text-decoration: underline;
    color: #32425c;
    font-size: 16px;
}
/*Цвет ссылки при наведении*/
.inner-page .personal-area a:hover{
    color: #ee3643;
}
/*Цвет ссылки при клике*/
.inner-page .personal-area a:active{
    color: #32425c;
    opacity: 0.3;
}
/*Хлебные крошки*/
.breadcrumbs {
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;

}
/*Позиционирование "хлебных крошек"*/
.breadcrumbs li {
    background: url(../img/icon-breadcrumbs.png) no-repeat left center;
    padding-left: 20px;
    padding-right: 15px;
    justify-content: space-between;
}

.breadcrumbs li:first-child{
    background: none;
    padding-left: 0;
}
/*Цвет ссылок*/
.breadcrumbs a {
    color: #000000;
}

.title-perforators {
    padding: 30px 0 30px 30px;
}

.filter {
    margin-right: 20px;
}

.filter-and-catalog {
    display: flex;
    justify-content: space-between;
}

.filter fieldset {
    text-transform: uppercase;
    width: 220px;
    margin: 0;
    padding: 0;
    border: none;
}

.filter-div {
    border-top-color: #e5e5e5;
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.filter legend {
    font-size: 17px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
  
.filter-list {
    list-style: none;
    font-size: 15px;
    margin: 0;
    padding: 0;
    
}

.filter-option {
    margin-top: 17px;
}

.filter-button {
    margin-top: 75px;
    padding: 14px 38px;
}

  

/*Стили заголовка*/
.inner-page .title {
    text-transform: uppercase;
    color: #32425c;
    background-color: #f1f5f7;
}

/*Кнопка "Показать" в фильтре*/
.filter-button {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-size: 13px;
}

.catalog {
    width: 700px;
}

.catalog ul {
    list-style: none;
    margin: 20px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    -webkit-flex-wrap: wrap;
}

.catalog-list li {
    position: relative;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    font-weight: bold;
    text-align: center;
    
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.catalog-list li:nth-child(3n) {
    margin-right: 0;
}

.item-title a{
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #000000;
}

.catalog .catalog-button-list {
    display: none;
}
.catalog li:hover .catalog-button-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;


}

.catalog .price-button {
    font-size: 18px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;

    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 9.5px 30px;
    
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.catalog .price-button:after {
    content: "";
  
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
}

.catalog-button-list a.button-cart {
    width: 135px;
    background-color: #63a53d;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: inset 0 -3px 0 0 #367314; 
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius:3px;
    margin-bottom: 7px;
}
.catalog-button-list a.button-cart:hover {
    background-color: #5fbb2d;
}
.catalog-button-list a.button-cart:active {
    background-color: #367314;
}
.catalog-button-list a.button-cart:hover svg {
    opacity: 1;
}
.catalog-button-list a.button-cart svg {
    opacity: 0.3;
}

.catalog-button-list a.button-bookmark {
    width: 132px;
    background-color: #ffffff;
    color: #32425c;
    text-transform: uppercase;
    border: 3px solid #63a53d;
    font-size: 14px; 
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius:3px;
}
.catalog-button-list a.button-bookmark:hover {
    border: 3px solid #31415b; 
}
.catalog-button-list a.button-bookmark:active {
    opacity: 0.3;
}

.inner-page .text-price {
    color: #999999;
    font-size: 17px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
}